@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes redpulse {
  0% {
    color: #fff;
  }
  50% {
    color: #f00;
  }
  100% {
    color: #fff;
  }
}
@keyframes redpulse {
  0% {
    color: #fff;
  }
  50% {
    color: #f00;
  }
  100% {
    color: #fff;
  }
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.body {
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.body .error {
  position: absolute;
  top: 10vh;
  -webkit-animation: redpulse 1s linear 3;
          animation: redpulse 1s linear 3;
}

.body .logCont {
  border: 0px solid #000;
  border-radius: 10px;
  width: 30vw;
  height: 30vw;
  min-width: 500px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .logCont * {
  margin: 5px 0;
}

.body .logCont form {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .logCont form input {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0 0 20px 0;
  padding: 10px;
  font-size: 1.3em;
}

.body .logCont form input.bt {
  color: #333;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.body .logCont form table {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .logCont form table tbody {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .logCont form table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .logCont form table tbody tr td {
  margin: 0;
}

.body .logCont form table tbody tr label {
  font-size: 1.1em;
}
/*# sourceMappingURL=style.css.map */