[
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "СДЕЛАЙТЕ НАЧАЛЬНУЮ СТРАНИЦУ",
    "НАЧАЛЬНОЙ СТРАНИЦЫ НЕ БУДЕТ",
    "НАЧАЛЬНОЙ СТРАНИЦЫ НЕ БУДЕТ",
    "НАЧАЛЬНОЙ СТРАНИЦЫ НЕ БУДЕТ",
    "НАЧАЛЬНОЙ СТРАНИЦЫ НЕ БУДЕТ",
    "НАЧАЛЬНОЙ СТРАНИЦЫ НЕ БУДЕТ",
    "ЭТА СТРАНИЦА ОТСТОЙ, ...",
    "ЭТА СТРАНИЦА ОТСТОЙ, ...",
    "ЭТА СТРАНИЦА ОТСТОЙ, ...",
    "ЭТА СТРАНИЦА ОТСТОЙ, ...",
    "ТЕМА СИСЕК НЕ РАСКРЫТА",
    "OwO",
    "<i>SAMPLE TEXT IN ITALICS</i>",
    "LOREM IPSUM",
    "ПРОДАМ ПИВО",
    "4ИСЛО",
    "КАКОГО Я ЦВЕТА?",
    "АХАХАХАХАХАХАХА",
    "?",
    "*<i>blushes</i>*",
    "ЗАХОДИТ МУЖИК В БАР...",
    "...А ОНА ЕМУ КАК РАЗ",
    "MUSTACHE HAIR",
    '<img src="https://cdn.7tv.app/emote/60afa4eba3648f409acc80ae/4x">',
    '<img src="https://cdn.7tv.app/emote/60ae958e229664e8667aea38/4x">',
    '<img src="https://cdn.7tv.app/emote/60b9293255c320f0e805d6b9/4x">',
    '<img src="https://cdn.7tv.app/emote/60aea05e4b1ea4526df62906/4x">',
    '<img src="https://cdn.7tv.app/emote/60af912352a13d1adb2612ec/4x">',
    '<img src="https://cdn.7tv.app/emote/61dd505657c70f633ebdadc8/4x">',
    '<img src="https://cdn.7tv.app/emote/60b1a41020b432903ad7129a/4x">',
    '<img src="https://cdn.7tv.app/emote/60af9e3b52a13d1adb78e15e/4x">',
    '<img src="https://cdn.7tv.app/emote/61056560b80f269577bcd6fe/4x">',
    '<img src="https://cdn.7tv.app/emote/60da2f42df4f4c65b868c371/4x">',
    '<img src="https://cdn.7tv.app/emote/61c0ad7bca95dd3275b8bbde/4x">',
    "МЕНЯ СЛЫШНО?",
    "ПРОВАЙДЕР М*!@K!",
    "МЕНЯ СЛЫШНО?",
    "ТРАССИРУЮ СИГНАЛ ИЗ КОСМОСА",
    "LIGMA",
    "ЭТО СТАТИЧНЫЙ ФАЙЛ?",
    "СЕРВЕР В ПОРЯДКЕ?",
    "ЗАБЫЛ ОПЛАТИТЬ ХОСТИНГ....",
    "ᘛ⁐̤ᕐᐷ",
    "(╯°□°)╯︵ ┻━┻",
    "AMOGUS",
    '<a href="https://discord.gg/EMudh3uqtb"> https://discord.gg/EMudh3uqtb </a>',
    '<a href="./auth/login/"> ВОЙТИ В АККАУНТ </a>',
    '<a href="./auth/login/"> ВОЙТИ В АККАУНТ </a>',
    '<a href="./auth/login/"> ВОЙТИ В АККАУНТ </a>',
    '<a href="{% url 'register_user' %}"> РЕГИСТРАЦИЯ </a>',
    '<a href="{% url 'register_user' %}"> РЕГИСТРАЦИЯ </a>',
    '<a href="{% url 'register_user' %}"> РЕГИСТРАЦИЯ </a>',
    '<a href="{% url 'add_vote' %}"> СОЗДАТЬ ГОЛОСОВАНИЕ </a>',
    '<a href="{% url 'add_vote' %}"> СОЗДАТЬ ГОЛОСОВАНИЕ </a>',
    '<a href="{% url 'add_vote' %}"> СОЗДАТЬ ГОЛОСОВАНИЕ </a>',
    "ИЩИ СЕБЯ",
    "КТО МЯУКАЕТ?",
    "МЯЯЯЯЯУ",
    "ПАПИЧ ЖУЁТ",
    "<b>ТОЛСТЫЙ</b>",
    "КТО В СИНЕГО КИТА?",
]
