{% extends "../base.html" %} {% load static %}

<!-- -->
{% block header %} ВОССТАНОВЛЕНИЕ ПАРОЛЯ {% endblock %}
<!--  -->

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Сбросить пароль</title>
<link rel="stylesheet" href="{% static 'reset/form.css' %}" />
<link rel="stylesheet" href="{% static 'g/&form/style.css' %}" />
{% endblock %}
<!--  -->
{% block content %}
<form action="" method="post">
  <p>Восстановление пароля</p>
  {% csrf_token %} {% if form.email.errors %} {{ form.email.errors }}
  <!--  -->
  {% endif %}

  <section class="field">
    <label>{{ form.email.label }}</label> {{ form.email }}
  </section>
  <input type="submit" class="bt" value="Сбросить!" />
</form>
{% endblock %}
